<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> Emporium </h1>
    <p>~*~*~ Welcome to Katie's <%= title %> emporium!!! ~*~*~ </p>
      <h1><%= thedate %>  </h1>
  </body>
</html>
